{{page-title "Create"}}
<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="author" class="btn-back">
      <span class="sr-only">Back</span>
    </LinkTo>

    <div class="slide-out-heading">
      <div class="title">
        <h3>New Author</h3>
      </div>
    </div>

    <div class="slide-out-content">
      <form>
        <div class="field">
          <label>First Name: {{@model.first}}</label>
          <Input
            @type="text"
            @placeholder="First Name"
            @value={{@model.first}}
          />
        </div>

        <div class="field">
          <label>Last Name: {{@model.last}}</label>
          <Input
            @type="text"
            @placeholder="Last Name"
            @value={{@model.last}}
          />
        </div>
      </form>
    </div>
  </div>
</div>