{{page-title "Detail"}}

<div class="slide-out-bg"></div>

<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="author" class="btn-back">
      <span class="sr-only">Back</span>
    </LinkTo>

    <div class="slide-out-heading">
      <div class="title">
        <h3 data-test-author-full-name>{{@model.fullName}}</h3>

        <div class="actions">
          {{#if (can "edit author" @model)}}
            <LinkTo
              @route="author.edit"
              @model={{@model.id}}
              class="btn-pop"
              data-test-edit-author-button
            >
              edit
            </LinkTo>
          {{/if}}

          <button
            class="btn-recessed"
            type="button"
            data-test-delete-author-button
            {{on "click" (fn this.deleteAuthor @model)}}
          >
            delete
          </button>
        </div>
      </div>
      <div class="details">
        <p>
          <strong>Added By:</strong>

          {{@model.username}}
        </p>
      </div>
    </div>

    <div class="slide-out-content">
      <div class="title">
        <h3 data-test-books-count>
          {{pluralize @model.books.length 'book'}} from this author
        </h3>
      </div>

      <div class="actions">
        <LinkTo
          @route="author.detail.new-book"
          @model={{@model.id}}
          class="btn-secondary btn-add"
          data-test-add-author-book-button
        >
          Add a book
        </LinkTo>
      </div>

      <ul class="book-list">
        {{#each @model.books as |book|}}
          <li class="book" data-test-book-list-item>
            <p class="book-title">
              <LinkTo
                @route="book.detail"
                @model={{book.id}}
                data-test-book-link
              >
                {{book.title}}
              </LinkTo>
            </p>
            <p class="book-isbn">{{book.isbn}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

{{liquid-outlet}}
