<div class="modal">
  <form class="modal-card" {{on "submit" this.saveBook}}>
    <h3 class="modal-heading">
      Add New Book for {{@model.author.last}}, {{@model.author.first}}
    </h3>

    <div class="modal-content">
      <div class="field">
        <label for="book-title">Book Title:</label>
        <Input
          id="book-title"
          placeholder="Book Title"
          data-test-book-title
          @type="text"
          @value={{@model.book.title}}
        />
      </div>
      <div class="field">
        <label for="isbn">ISBN:</label>
        <Input
          id="book-title"
          placeholder="ISBN"
          data-test-book-isbn
          @type="text"
          @value={{@model.book.isbn}}
        />
      </div>
      <div class="field">
        <label for="publish-date">Publish Date:</label>
        <Input
          id="publish-date"
          placeholder="Publish Date"
          data-test-book-publish-date
          @type="date"
          @value={{@model.book.publishDate}}
        />
      </div>
    </div>

    <div class="modal-footer">
      <LinkTo
        @route="author.detail"
        @model={{@model.author.id}}
        class="btn-clear"
      >
        Cancel
      </LinkTo>
      <button
        type="submit"
        class="btn-submit"
        data-test-submit-new-book
      >
        Submit
      </button>
    </div>
  </form>
</div>