{{page-title "Create"}}
<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="book" class="btn-back">
      <span class="sr-only">Back</span>
    </LinkTo>

    <div class="slide-out-heading">
      <div class="title">
        <h3>New Book</h3>
      </div>
    </div>

    <div class="slide-out-content">
      <form {{on "submit" this.saveBook}}>
        <div class="field">
          <label for="title">Title:</label>
          <Input
            id="title"
            placeholder="Title"
            data-test-new-book-title
            @type="text"
            @value={{@model.title}}
          />
        </div>

        <div class="field">
          <label for="isbn">Title:</label>
          <Input
            id="isbn"
            placeholder="ISBN:"
            data-test-new-book-isbn
            @type="text"
            @value={{@model.isbn}}
          />
        </div>

        <div class="field">
          <label for="publish-date">Title:</label>
          <Input
            id="publish-date"
            placeholder="Publish Date:"
            data-test-new-book-publish-date
            @type="date"
            @value={{@model.publishDate}}
          />
        </div>

        <div class="field">
          <label for="author">Author:</label>
          <p class="control">
            <PowerSelect
              data-test-new-book-author
              @searchEnabled={{true}}
              @search={{this.searchAuthor}}
              @onChange={{this.selectAuthor}}
              @selected={{this.selectedAuthor}}
              as |author|
            >
              {{author.last}}, {{author.first}}
            </PowerSelect>
          </p>
        </div>

        <div class="form-footer">
          <button
            type="submit"
            class="btn-submit"
            data-test-save-book-button
          >
            save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
