<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="book" class="btn-back">
      <div class="sr-only">Back</div>
    </LinkTo>

    <div class="slide-out-heading">
      <div class="title">
        <h3 data-test-book-title>{{@model.title}}</h3>

        <div class="actions">
          <LinkTo @route="book.edit" @model={{@model.id}} class="btn-pop">
            edit
          </LinkTo>
          <button
            class="btn-recessed"
            type="button"
            {{on "click" (fn this.deleteBook @model)}}
          >
            delete
          </button>
        </div>
      </div>

      <div class="details">
        <p>
          <strong>Author:</strong>
          <<LinkTo
            @route="author.detail"
            @model={{@model.author.id}}
            data-test-author-name
          >
            {{@model.author.last}}, {{@model.author.first}}
          </LinkTo>
        </p>
        <p data-test-book-publish-date>
          <strong>Publish Date:</strong>
          {{@model.publishDate}}
        </p>
        <p data-test-book-isbn>
          <strong>ISBN:</strong>
          {{@model.isbn}}
        </p>
      </div>
    </div>

    <div class="slide-out-content">
      {{outlet}}
    </div>
  </div>
</div>