{{page-title "Book Detail"}}

<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="book" class="btn-back">
      <div class="sr-only">Back</div>
    </LinkTo>

    <div class="slide-out-heading">
      <div class="title">
        <h3 data-test-book-title>{{@model.title}}</h3>

        <div class="actions">
          {{#if (can "edit book" @model)}}
            <LinkTo
              @route="book.edit"
              @model={{@model.id}}
              class="btn-pop"
              data-test-edit-book-button
            >
              edit
            </LinkTo>
          {{/if}}
          {{#if (can "delete book" @model)}}
            <button
              class="btn-recessed"
              type="button"
              data-test-delete-book-button
              {{on "click" (fn this.deleteBook @model)}}
            >
              delete
            </button>
          {{/if}}
        </div>
      </div>

      <div class="details">
        <p>
          <strong>Author:</strong>
          <<LinkTo
            @route="author.detail"
            @model={{@model.author.id}}
            data-test-author-name
          >
            {{@model.author.last}}, {{@model.author.first}}
          </LinkTo>
        </p>
        <p data-test-book-publish-date>
          <strong>Publish Date:</strong>
          {{moment-format @model.publishDate "MMMM Do YYYY"}}
        </p>
        <p data-test-book-isbn>
          <strong>ISBN:</strong>
          {{@model.isbn}}
        </p>
        <p>
          <strong>Added By:</strong>
          {{@model.username}}
        </p>
      </div>
    </div>

    <div class="slide-out-content">
      {{liquid-outlet}}
    </div>
  </div>
</div>