{{page-title "Edit Book"}}

<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="book.detail" @model={{@model.id}} class="btn-back">
      <span class="sr-only">Back</span>
    </LinkTo>

    <div class="slide-out-heading">
      <div class="title">
        <h3>Editing {{@model.title}}</h3>
      </div>
    </div>

    <div class="slide-out-content">
      <BookForm @book={{@model}} @onSubmit={{this.saveBook}} />
    </div>
  </div>
</div>
