{{page-title "New Review for Book"}}

<div class="title">
  <h3>New Review for {{@model.book.title}}</h3>
</div>

<ReviewForm
  @review={{@model.review}}
  @book={{@model.book}}
  @onSubmit={{this.saveReview}}
/>
