{{page-title "Author"}}

<div class="panel-heading">
  <div class="search">
    <label for="search-by-author" class="sr-only">Search by Author Name</label>
    <Input
      id="search-by-author"
      placeholder="Search by Author Name"
      @type="text"
      @value={{this.search}}
    />
  </div>

  <LinkTo @route="author.create" class="btn-new">
    <div class="sr-only">Add New Author</div>
  </LinkTo>
</div>

<div class="panel-content">
  <h3 class="panel-title">Authors</h3>

  <ul class="collection">
    {{#each @model as |author|}}
      <li data-test-lib="author-list-item">
        <AuthorListItem @first={{author.first}} @last={{author.last}} @authorId={{author.id}} />
      </li>
    {{/each}}
  </ul>
</div>

{{outlet}}
