{{page-title "Book"}}

<div class="panel-heading">
  <div class="search">
    <label for="search-books" class="sr-only">Search Books by Title or ISBN</label>
    <Input
      id="search-books"
      placeholder="Search Books by Title or ISBN"
      data-test-search-books-input
      @type="text"
      @value={{this.search}}
    />
  </div>

  <LinkTo @route="book.create" class="btn-new" data-test-new-book-button>
    <div class="sr-only">Add New Book</div>
  </LinkTo>
</div>


<div class="panel-content">
  <div class="panel-title">Books</div>

  <ul class="collection">
    {{#each @model as |book|}}
      <li data-test-book-list-item>
        <LinkTo
          @route="book.detail"
          @model={{book.id}}
          data-test-book-link="{{book.id}}"
        >
          <span class="book-title">{{book.title}}</span>
          <em class="book-isbn">{{book.isbn}}</em>
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>

{{outlet}}